@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* Navbar Components start*/

navbar {
    background-color: none;
}

div.navbar-main {
    color: white;
}

nav li a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

.navbar-brand {
    color: aliceblue;
    font-size: 30px;
    text-decoration: none;
}

.navbar-brand:hover {
    text-decoration: none;
}

nav li a:hover {
    border-bottom: 2px solid white;
    color: white;
}

.dropdown-item:hover {
    background-color: lightslategray;
}


/* Navbar Components End*/

div.maintext {
    margin-top: 10%;
    font-family: 'Fjalla One', sans-serif;
}

section.site-section {
    margin-top: 16%;
}

div.footer {
    padding: 8% 0% 5% 0%;
    background-color: #28334aff;
    overflow-x: hidden;
    color: blanchedalmond;
}

.btn-success {
    margin-bottom: 100px;
}

.logout {
    display: none;
}

@media only screen and (max-width: 900px) {
    div.navbar-main {
        color: white;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%
    }
    .logout {
        border: 1px solid red;
        background: red;
        display: block;
    }
    li.dropdown {
        display: none;
    }
}