{% include 'navbar.html' %}

<form action="{% url 'delete_job' del_job.id %}" method="POST"></form> {%csrf_token%}

<div class="container m-auto p-auto pt-5 pb-5">
    <div class="row  ">
        <div class="column col-sm-6 text-left pt-5 pb-5">
            <strong> Are you sude you want to delete "{{deleted.title}}" (This Cannot be be Undone) </strong>
        </div>


        <div class="column col-sm-2  text-right   pt-5 pb-5">
            <a class="btn btn-md btn-secondary  " href="/profile"> Cancel </a>
        </div>

        <div class="column col-sm-2  text-right   pt-5 pb-5">
            <input class="btn btn-md btn-danger" type="submit" value="Confirm">
        </div>

    </div>

</div>


</form>


{% include 'footer.html' %}