<style>
    div.footer {
        padding: 8% 0% 5% 0%;
        background-color: #28334aff;
        overflow-x: hidden;
        color: blanchedalmond;
    }
    
    a:link {
        text-decoration: none;
    }
</style>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<div class="container-fluid footer col-12 ">
    <div class="row">
        <div class="column  col-sm-4 text-center  ">
            <ul class="list-unstyled ">
                <li class="text-gray-500 fadein-colors font-body hover:text-green-500 mt-2">order</li>
                <li class="text-gray-500 fadein-colors font-body hover:text-blue-500 mt-2">fhd</li>
                <li class="text-gray-500 fadein-colors font-body hover:text-green-500 mt-2">sdjhfjdh</li>
                <li class="text-gray-500 fadein-colors font-body hover:text-blue-500 mt-2">fdhf</li>
            </ul>
        </div>
        <div class="column col-sm-4  text-center">
            <ul class="list-unstyled">
                <li class="text-gray-500 fadein-colors font-body hover:text-green-500 mt-2">dhgs</li>
                <li class="text-gray-500 fadein-colors font-body hover:text-blue-500 mt-2">fdghff</li>
                <li class="text-gray-500 fadein-colors font-body hover:text-green-500 mt-2">ahcfdafda</li>
                <li class="text-gray-500 fadein-colors font-body hover:text-blue-500 mt-2">fkhgadhf</li>
            </ul>
        </div>
        <div class="column col-sm-4  text-center ">
            <ul class="list-unstyled">
                <li class="text-gray-500 fadein-colors font-body hover:text-green-500 mt-2">dhgs</li>
                <li class="text-gray-500 fadein-colors font-body hover:text-blue-500 mt-2">fdghff</li>
                <li class="text-gray-500 fadein-colors font-body hover:text-green-500 mt-2">ahcfdafda</li>
                <li class="text-gray-500 fadein-colors font-body hover:text-blue-500 mt-2">fkhgadhf</li>
            </ul>
        </div>
    </div>
    <p class="mt-5 mb-3 text-muted text-center mt-0 text-white">&copy; 2019-2020</p>
</div>