<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>Hunters</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

    
    body {

      background-image: url(https://res.cloudinary.com/rahmancm/image/upload/v1604306913/jobportal/laptop-rental-shops-in-coimbatore-55blog15955164241891_hfewql.png);
      overflow-x: hidden;
      background-repeat: no-repeat;

    }

    div.maintext {
      margin-top: 10%;
      font-family: 'Fjalla One', sans-serif;
    }

    section.site-section {
      margin-top: 16%;
    }

    .btn-success{
      margin-bottom:100px;
    }
    
  </style>
</head>

<body>

 {% include "navbar.html" %}

  {% if messages %}
  {% for message in messages %}
  <div class="alert  alert-{{message.tags}} alert-dismissible fade show my-0" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}

  <div class="container  maintext">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center">
          <h1 class="text-white font-weight-bold">A website for your career</h1>
          <p> </p>
        </div>
        <form id="job-main-form" method="get" action="/jobs/search/" class="search-jobs-form">
          <div class="row mb-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <input type="text" id="title" name="title" class="form-control " placeholder=" Software Engineer ... ">
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <input type="text" id="job_location" name="job_location" class="form-control " placeholder="Location">
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <select id="employment_status" name="employment_status" class="form-control">
                <option>Part Time</option>
                <option>Full Time</option>
                <option>Freelance</option>
              </select>
            </div>


            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <button type="submit" class="btn btn-warning  btn-block text-white btn-search">
                <span class="icon-search icon mr-2"></span>Search Job
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="containe-fluid text-center my-5 ">
    <a href="/postj"><button class="text-center btn btn-lg btn-success ">Post a Job </button></a>
  </div>
  {% for job  in jobs%}
  <section class="site-section mt-0">
    
    <div class="container">
      <div class="mb-5">
        <div class="row align-items-start job-item border-bottom pb-0 mb-3 pt-0" >
          <div class="col-md-2 text-left" >
            <a href="#"><img
                src="https://res.cloudinary.com/rahmancm/image/upload/v1604259441/jobportal/e6a302748b51020738afdde67b618f4d-removebg-preview_2_sw81ok.png"
                alt="Image" class=" img-responsive img-fluid" width="70px" height="70px"></a>
          </div>
          <div class="col-md-4 text-left">
            <span class="badge badge-secondary px-2 py-1 mb-3">
              {{job.employment_status}}
            </span>
            <h4><a href="{% url 'job_single' job.pk%}">{{job.title}}</a></h4>
            In: <strong>{{job.category}}</strong><br>
             Published On :{{job.published_on}}
            <p></p>
          </div>
          <div class="col-md-3 text-left">
            Location:<h5>{{job.job_location}}</h5>
            Company:<h5>{{job.company_name}}</h5>
            <span class="meta"></span>
          </div>
          <div class="col-md-3 text-md-right " >Salary :
            <strong class="text-black">{{job.Salary}}</strong>
            <p class="pt-5">  Posted by  :<strong>{{job.created_by}}</strong> </p>
          </div>
        </div>
      </div>
    
  </section>
    {% endfor %}
   
    {% include 'footer.html'%}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>