{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
   integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
   crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
   integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
   crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
   integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
   crossorigin="anonymous"></script>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg  mx-auto text-center">
        <img class="navbar-brand"
          src="https://cdn.freebiesupply.com/logos/large/2x/employee-savings-1-logo-png-transparent.png" alt="comapny logop"
          width="70" height="70">
        <a class="navbar-brand" href="#">Hunters</a>
       
        <button style="border-color:white;" id="navbarToggle"  type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span style="color:white; " class="navbar-toggler-icon"></span>
      </button>
    
        <div class="collapse navbar-collapse  navbar-main text-white" id="navbarCollapse">
          <ul class="navbar-nav mr-auto ">
            <li class="nav-item active border-bottom-white">
              <a class="nav-link " href="/"><i class="fa fa-fw fa-home"></i>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"><i class="fa fa-fw fa-info"></i>About Us</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="/services"><i class="fa fa-fw fa-info"></i>Services</a>
    
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"><i class="fa fa-fw fa-envelope"></i>Contact Us</a>
            </li>
            <li class="nav-item dropdown ml-auto  ">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-fw fa-user"></i> My account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/profile">Profile</a>
                  <a class="dropdown-item" href="#">Help</a>
                  <a class="dropdown-item" href="/logout">Logout</a>
              </div>
          </li>
            <li class="nav-item logout " >
              <a class="nav-link" href="/logout">Logout</a>
            </li>  
          </ul>
    
      </nav>
      <!-- Navigation bar ends -->
      <!-- Optional JavaScript -->
 
</body>
</html>