 {% include 'navbar.html' %} {% if not notifications %}
<div class="container-fluid  text-center bg-light ">


    <p class="font"> You have no new notifications !!! </p>
</div>
{%endif%} {% for notification in notifications %}
<div class="container-fluid fornot text-center bg-light ">
    {% if notification.notification_type == 'message' %}
    <li class="list-unstyled">
        <a href="{% url 'notification' %}?goto=view_application&notification={{notification.id}}&extra_id={{notification.extra_id}}">
            <strong>{{notification.created_by.username}} </strong> sent you a message
            <small>{{notification.created_at|timesince}} ago</small></a>
    </li>
    {% elif notification.notification_type == 'application' %}
    <li class="list-unstyled">
        <a href="{% url 'notification' %}?goto=view_application&notification={{notification.id}}&extra_id={{notification.extra_id}}">
            <strong>{{notification.created_by.username}} </strong> applied for the job
            <small>{{notification.created_at|timesince}} ago</small></a>
    </li>

    {%endif%} {%endfor%}


</div>





{% include 'footer.html' %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<style>
    body {
        background: -webkit-linear-gradient(left, #498b70, #458f4f);
        overflow: hidden;
        scroll-behavior: smooth;
    }
    
    div.fornot {
        height: 600px;
        margin-top: 2%;
        margin-bottom: 5%;
    }
    
    div.container-fluid {
        height: 300px;
    }
    
    p.font {
        font-size: 20px;
        padding-top: 1cm;
        ;
    }
</style>