<!doctype html>


<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>Registration</title>
</head>

<style>
  body {
    
    background:  white;
  }

 
  /* Navbar Components start*/
  navbar {
    background:-webkit-linear-gradient(left, #498b70, #458f4f);
  }

  #navbarSupportedContent {
    color: white;
    margin-left: 270px;
  }

  li a {
    color: white;
    margin-right: 20px;
    text-decoration: none;

  }

  .navbar-brand {
    color: aliceblue;
    font-size: 30px;
  }

  nav li a:hover {
    border-bottom: 2px solid white;
    color: white;


  }

  /* Navbar Components End*/
 </style>
<!-- Custom styles for this template -->

</head>
<body>
<!-- Navigation bar starts -->
<nav class="navbar navbar-expand-lg bg-success mx-auto ">
  <img class="navbar-brand"
          src="https://cdn.freebiesupply.com/logos/large/2x/employee-savings-1-logo-png-transparent.png" alt="comapny logop"
          width="70" height="70">
  <a class="navbar-brand" href="/"> Hunters</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="/services">Services</a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
      <li class="nav-item border border-success bg-warning pl-3 rounded ">
        <a class="nav-link " href="/login">Login</a>
      </li>
    </ul>
    
  </nav>
  <hr>
  






<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4">
                <h4 class="card-title">Sign up</h4>
            </header>
            <form action="register" method="POST"> {% csrf_token %} 
                 <div class="form-row">
                    <div class="col form-group">
                        <label>First name</label>
                        <input type="text" class="form-control" name="first_name" required="" placeholder="">
                    </div>
                    <!-- form-group end.// -->
                    <div class="col form-group">
                        <label>Last name</label>
                        <input type="text" class="form-control" name="last_name" placeholder="">
                    </div>
                    <!-- form-group end.// -->
                </div>
                <!-- form-row end.// -->
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control" required="" placeholder="">

                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" required="" placeholder="">
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <!-- form-group end.// -->
                <div class="form-group">
                
                    <label class="custom-control custom-radio custom-control-inline">
					  <input class="custom-control-input" checked="" type="radio" name="account_type" value="jobseeker">
					  <span class="custom-control-label"> Job Seeker </span>
					</label>
                    <label class="custom-control custom-radio custom-control-inline">
					  <input class="custom-control-input" type="radio" name="account_type" value="employer">
					  <span class="custom-control-label">Employer  </span>
					</label>
                </div>
                <!-- form-group end.// -->

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Create password</label>
                        <input class="form-control" type="password" name="password">
                    </div>
                    <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                        <label>Repeat password</label>
                        <input class="form-control" type="password" name="confirm_password">
                    </div>
                    <!-- form-group end.// -->
                </div>
                <div class="form-group">
                    <button type="submit" href="/" class="btn btn-warning btn-block"> Register  </button>
                </div>
                <!-- form-group// -->
                <div class="form-group">
                    <label class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> I am agree with <a href="#">terms and contitions</a>  </div> </label>
                </div>
                <!-- form-group end.// -->
            </form>
        </article>
        <!-- card-body.// -->
    </div>
    <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="/login">Log In</a></p>
    <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
</body>


{% include 'footer.html' %}
</html>