<!doctype html>


<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>Registration</title>
</head>

<style>
  body {
    overflow-x: hidden;
    background:  -webkit-linear-gradient(left, #498b70, #458f4f);
  }

 
  /* Navbar Components start*/
  navbar {
    background-color: none;
  }

  #navbarSupportedContent {
    color: white;
    margin-left: 270px;
  }

  li a {
    color: white;
    margin-right: 20px;
    text-decoration: none;

  }

  .navbar-brand {
    color: aliceblue;
    font-size: 30px;
  }

  nav li a:hover {
    border-bottom: 2px solid white;
    color: white;


  }

  /* Navbar Components End*/
  div.signup {

    margin-top: 3%;
    margin-bottom: 10%;
  }

  div.signhead {
    margin-top: 3%;
  }

  @media only screen and (min-width: 768px) {
    div.signup {
      width: 30%;
    }
  }
</style>
<!-- Custom styles for this template -->

</head>

<!-- Navigation bar starts -->
<nav class="navbar navbar-expand-lg  mx-auto ">
  <img class="navbar-brand"
          src="https://cdn.freebiesupply.com/logos/large/2x/employee-savings-1-logo-png-transparent.png" alt="comapny logop"
          width="70" height="70">
  <a class="navbar-brand" href="/"> Hunters</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="/services">Services</a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
      <li class="nav-item border border-success bg-warning pl-3 rounded ">
        <a class="nav-link " href="/login">Login</a>
      </li>
    </ul>
    
  </nav>
  <hr>
  
<!-- Navigation bar ends -->
<div class="col-12 col-sm-12 signhead ">
  <h1 class="lead text-white font-weight-bolder text-center font-lg">Sign Up</h1>
</div>
<div class="container signup ">

  <div class="col-sm-12 col-12 mb-5 ">
    <form action="/register" method="POST">
      <input type="hidden" name="csrfmiddlewaretoken"
        value="5mGRdxZc5P98Xs5IwKbrtDk820HvLwF5Hu8KpNkS2fnCYJ1IPnshLmXBSpHtgjM5">
      {% csrf_token %}
      <div class="form-group">
        <label class="control-label text-white text-center " for="id_first_name">First Name</label>
        <div class=" ">
          <input type="text" name="first_name" class=" form-control" required="" id="id_first_name">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label text-white text-center " for="id_last_name">Last Name</label>
        <div class=" ">
          <input type="text" name="last_name" class=" form-control" required="" id="id_last_name">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label  text-white text-center" for="id_username">Username</label>
        <div class=" ">
          <input type="text" name="username" maxlength="10" class=" form-control" required="" id="id_username">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label text-white text-center  " for="id_email">Email address</label>
        <div class=" ">
          <input type="email" name="email" placeholder="Enter a valid e-mail" class=" form-control" required=""
            id="id_email">
        </div>
      </div>
       <div class="form-group">
       <label class="control-label text-white " for="id_gender">Account type</label>
            <div class=" ">
             <select name="account_type" class=" form-control" required="" id="account_type">
                <option value="jobseeker" selected="">Job Seeker</option>
                
                <option value="employer">Employer</option>
               
              </select>
            </div>
      <div class="form-group">
        <label class="control-label text-white text-center  " for="id_password">Password</label>
        <div class=" ">
          <input type="password" name="password" class=" form-control" required="" id="id_password">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label text-white text-center " for="id_confirm_password">Confirm password</label>
        <div class=" ">
          <input type="password" name="confirm_password" class=" form-control" required id="id_confirm_password">
        </div>

      </div>
      <div class="row form-group text-white text-center ">
        <div class="col-md-12">
          <button class="btn btn-warning  btn-lg text-white" type="submit" href="/login">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% include 'footer.html' %}
<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->


</body>

</html>